<ion-view view-title="Home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="">
            <div class="content">
                <div class="avatar" style=""></div>
                <h3><a class="light">Page d'accueil</a></h3>
                <h4></h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Notifications
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Serrures
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Utilisateurs
            </a>
        </div>
    </ion-content>
</ion-view>
