<ion-view view-title="{{lock.name}}">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="hero slide-up" style="">
            <div class="content">
                <div class="avatar" style=""></div>
                <h3><a class="light">Page d'accueil</a></h3>
                <h4></h4>
            </div>
        </div>-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.logs" class="tab-item">
                <i class="icon ion-ios-bell" ></i> Notifications
            </a>
            <a ui-sref="app.locks" class="tab-item">
                <i class="icon ion-key"></i> Serrures
            </a>
            <a ui-sref="app.users" class="tab-item">
                <i class="icon ion-person"></i> Utilisateurs
            </a>
        </div>
        
        <form ng-submit="update(lock)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Nom de la serrure" ng-model="lock.name"/>
                </label>
                <div class="padding">
                    <button class="button button-add  " type="submit">{{data.buttonUpdate}}</button>
                </div>
            </div>
        </form>
        
        <form ng-submit="delete(lock)">
            <div class="list">
                <div class="padding">
                    <button class="button button-add  " type="submit">{{data.buttonSuppr}}</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
