<ion-view view-title="Notifications">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="hero slide-up" style="">
            <div class="content">
                <div class="avatar" style=""></div>
                <h3><a class="light">Page d'accueil</a></h3>
                <h4></h4>
            </div>
        </div>-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.logs" class="tab-item">
                <i class="icon ion-ios-bell" ></i> Notifications
            </a>
            <a ui-sref="app.locks" class="tab-item">
                <i class="icon ion-key"></i> Serrures
            </a>
            <a ui-sref="app.users" class="tab-item">
                <i class="icon ion-person"></i> Utilisateurs
            </a>
        </div>

        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.locks" class="item item-lock item-icon-right">
                <h2>Porte d'entrée</h2>
                <i class="icon ion-unlocked"></i>
            </a>
            <a ui-sref="app.locks" class="item item-lock item-icon-right" ng-repeat="log in logs">
                <h2>{{log.name}}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>
