<ion-view view-title="Paramètres">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="hero slide-up" style="">
            <div class="content">
                <div class="avatar" style=""></div>
                <h3><a class="light">Page d'accueil</a></h3>
                <h4></h4>
            </div>
        </div>-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <div class="users">
                <h2 style="color: white">{{user.username}}</h2>
            </div>
        </div>

        <h2>Email: {{user.email}}</h2>
    </ion-content>
</ion-view>
