<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color: #EEEEEE; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <img src="img/Logo.png" width="222px" />
            </div>
        </div>
        
        <div class="padding">
            <div class="item item-divider">{{message}}</div>
            <div class="list">
                <ion-md-input placeholder="Email" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
                <ion-md-input placeholder="Nom d'utilisateur" highlight-color="balanced" type="text" ng-model="user.username"></ion-md-input>
                <ion-md-input placeholder="Mot de passe" highlight-color="balanced" type="password" ng-model="user.password"></ion-md-input>
            </div>
        </div>
        <div class="padding">
        
        </div>
        <div class="padding">
            <button ng-click="register()" class="button button-full button-assertive ink" style="background-color: rgb(207,0,73)" >Envoyer</button>
            <button ui-sref="app.login" class="button button-full button-assertive ink" style="background-color: rgb(23,180,148)">Annuler</button>
        </div>
    </ion-content>
</ion-view>
