<ion-view view-title="Utilisateurs">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="hero slide-up" style="">
            <div class="content">
                <div class="avatar" style=""></div>
                <h3><a class="light">Page d'accueil</a></h3>
                <h4></h4>
            </div>
        </div>-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.logs" class="tab-item">
                <i class="icon ion-ios-bell" ></i> Notifications
            </a>
            <a ui-sref="app.locks" class="tab-item">
                <i class="icon ion-key"></i> Serrures
            </a>
            <a ui-sref="app.users" class="tab-item">
                <i class="icon ion-person"></i> Utilisateurs
            </a>
        </div>

        <div class="list animate-fade-slide-in-right">
            <a ui-sref='app.lock({id:lock.id})' class="item item-lock item-icon-right" ng-repeat="lock in locks">
                <h2>{{lock.name}}</h2>
                <i class="icon" ng-class="{'ion-locked': lock.state == true, 'ion-unlocked': lock.state == false}"></i>
            </a>
        </div>

    </ion-content>
</ion-view>
