<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
      
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
      
    <!-- Angular Material Dependencies -->
    <script src="lib/angular/angular.min.js"></script>
      
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>

    <script src="lib/angular-material/angular-material.min.js"></script>
      
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/router.js"></script>
    <script src="js/connexion.js"></script>
      
  </head>

  <body ng-app="starter">
      
     <div layout="column" data-ng-controller="AppCtrl">
         
         <md-toolbar layout="row">
             <div class="md-toolbar-tools" flex>
                 <h1>Lock-Key</h1>
             </div>
         </md-toolbar>
         
         <div style="heigt: 40px;"></div>
         
         <div layout ="row">
            <div flex=20 hide-sm></div>
            <div flex>
                
                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Login / Register</h2>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Login">
                                <form ng-submit="">
                                    <md-input-container>
                                        <label>E-mail</label>
                                        <input type="email" required>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Password</label>
                                        <input type="password" required>
                                    </md-input-container>
                                    <md-butoon class="md-raised md-primary" type="submit">
                                    Se connecter
                                    </md-butoon>
                                </form>
                            </md-tab>
                            <md-tab label="Register">
                                <form ng-submit="" name="">
                                    <md-input-container>
                                        <label>E-mail</label>
                                        <input type="email" ng-model="email" ng-model="email.text" required>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Password</label>
                                        <input type="password" ng-model="password" required name ="password" md-maxlenght="20" minlength="8">
                                        <div>
                                            <div ng-message="minlenght"> 
                                            Le mot de passe doit faire au minimun 8 caractère
                                            </div>
                                        </div>
                                    </md-input-container>
                                     <md-input-container>
                                        <label>UserName</label>
                                        <input type="text" required>
                                    </md-input-container>
                                    <md-butoon class="md-raised md-primary" type="submit">
                                    Se connecter
                                    </md-butoon>
                                </form>
                            </md-tab>
                        </md-tabs>
                        
                    </md-card-content>
                </md-card>
                    
            </div>
            <div flex=20 hide-sm></div>
         </div>
      </div>
      
  </body>

</html>
