/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/

.button-energized-900:hover {
    background-color: rgb(245, 0, 86);
    color: #fff
}

.button-no:hover {
    background-color: rgb(245, 0, 86);
    color: #fff
}

.button-add:hover{
    background-color: rgb(28, 217, 178);
    color: #fff
}

.locks:hover{
    background-color: rgb(224, 224, 224);
}

.menu-open .bar.bar-header.expanded { 
    background-color: rgb(23,180,148);
    background-position: 0;
    background-size: 0;
}

.menu h2 {
    bottom: 0;
    font-size: 25px;
    left: 16px;
    position: absolute; 
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.hero>.content {
    top: 18%;
}

.item-lock{
    padding: 25px;
    display: inline-block;
    width: 80%;

}

.tabs-dark{

    height: 58px;
    padding-top: 8px;
}

.item-md-label .input-label {
    color: black;
}

.item.item-divider{
    text-align: center;
    height: 40px;
    color: rgb(207,0,73);
}

.hero.no-header{
    height: 200px;
}

div.loginbutton{
    margin-top: 7%;
}

.bar-header{
    background-color: rgb(23,180,148);
    /*rouge: (207,0,73);*/
}

.button-fab{
    background-color: rgb(207,0,73);
}

.icon<.ion-settings{
    height: 15px;
}

.item-complex .item-content{
    padding: 16px 16px 16px 16px;
}

.button-add{
    width: 100%;
    background-color: rgb(23,180,148);
    color: #fff;
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}

.button-no{
    width: 100%;
    background-color: rgb(207,0,73);
    color: #fff;
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 12px;

}
.tab-item .icon {
    font-size: 35px;
    margin-bottom: 2%;
    margin-top: -2%;
}

.icon-lock{
   width: 17%;
    text-align: center;
    vertical-align: top;
    line-height: 60px;
    font-size: 28px;
    display: inline-block;
    transition-delay: 0.23s;
}

.locks{
}